@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Poppins";
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.76);
  font-weight: 500;
  font-size: 18px;
}
header {
  background: rgb(124, 255, 124);
  padding: 10px 20px;
}
header a {
  padding: 10px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
header .pesan-cart {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
header h1 {
  text-transform: uppercase;
  font-weight: 600;
}
.cart-items {
  background-color: #fff;
  width: 100%;
  padding: 20px 50px;
}
.card-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.card-item .item {
  width: 350px;
  height: 300px;
  text-align: center;
  margin: 10px;
  cursor: default;
  padding: 20px;
}
.cart-items .item img {
  width: 150px;
  height: 180px;
}
.card-item button {
  padding: 2px 10px;
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  background: rgb(133, 133, 247);
  color: black;
  font-weight: 600;
  font-size: 15px;
  transition: 0.2s ease-in;
  position: relative;
  width: 50%;
}
.card-item button:hover,
.card-item button:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 121, 121);
}
.pesan-cart a:last-child {
  background-color: rgba(255, 103, 103, 0.667);
}
